.header-image {
    background-image: url("https://wallpaperaccess.com/full/1356106.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}